include ../_components/partents/menu

doctype html
html
  head
    title title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, shrink-to-fit=no")
    block head_end
      link(rel="stylesheet", href="libs/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="style.css")
  body
    #wrapper
      block header
        include ../_partials/header
      block content
      block footer
        include ../_partials/footer
    //#wrapper  
    block body_end
    script(src="libs/jquery/jquery.min.js", type="text/javascript")
    script(src="https://code.jquery.com/jquery-3.3.1.slim.min.js", type="text/javascript")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", type="text/javascript")
    script(src="libs/masonry.pkgd.js", type="text/javascript")
    script(src="libs/bootstrap/js/bootstrap.min.js", type="text/javascript")
