@charset "UTF-8";
/*	FONTS
------------------------*/
/*	TYPOGRAPHY
–––––––––––––––––––––––––––*/
html, body {
  margin: 0px;
  padding: 0px; }

.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none; }

.list-inline li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle; }
  .list-inline li a {
    text-decoration: none; }

a {
  color: inherit; }

img {
  max-width: 100%;
  width: 100%;
  border: none; }

.container {
  margin: 0px auto;
  max-width: 1170px; }

.fleft, .float-left {
  float: left; }

.fright, .float-right {
  float: right; }

.clear-fix, .clearfix {
  clear: both; }

/* ------ Normalize ----- */
#slider_header {
  font-family: 'Lato', sans-serif; }
  #slider_header .slider .auto-play-slider.owl-carousel .owl-item {
    max-height: 500px; }
  #slider_header .slider .auto-play-slider.owl-carousel .owl-dots {
    display: none; }
  #slider_header .slider .auto-play-slider.owl-carousel .owl-nav {
    position: absolute;
    top: 50%;
    width: 100%; }
    #slider_header .slider .auto-play-slider.owl-carousel .owl-nav button span {
      font-size: 0; }
    #slider_header .slider .auto-play-slider.owl-carousel .owl-nav button.owl-prev span {
      margin-top: -30px;
      position: absolute;
      left: 1%;
      content: "";
      background: url("images/large_left.png") no-repeat 0 0;
      width: 40px;
      height: 40px; }
    #slider_header .slider .auto-play-slider.owl-carousel .owl-nav button.owl-next span {
      margin-top: -30px;
      position: absolute;
      right: 1%;
      content: "";
      background: url("images/large_right.png") no-repeat 0 0;
      width: 40px;
      height: 40px; }
  #slider_header .slider .auto-play-slider.owl-carousel .item .img {
    width: 100%; }
    #slider_header .slider .auto-play-slider.owl-carousel .item .img img {
      background-position: center center; }
  #slider_header .slider .auto-play-slider.owl-carousel .item .content {
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    margin-top: 200px;
    z-index: 60;
    color: #fff;
    text-transform: uppercase; }
    #slider_header .slider .auto-play-slider.owl-carousel .item .content .inner-content {
      position: relative;
      max-width: 1170px;
      margin: auto; }
      #slider_header .slider .auto-play-slider.owl-carousel .item .content .inner-content:before {
        content: "";
        height: 3px;
        width: 80px;
        display: block;
        background: #D03232; }
    #slider_header .slider .auto-play-slider.owl-carousel .item .content h1.title {
      font-size: 56px;
      line-height: 17px; }
    #slider_header .slider .auto-play-slider.owl-carousel .item .content button {
      color: #fff;
      margin-top: 30px;
      padding: 6px 31px 6px 31px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      font-size: 13px;
      text-align: center;
      min-width: 100px;
      text-transform: uppercase;
      display: inline-block; }
    #slider_header .slider .auto-play-slider.owl-carousel .item .content button.buy {
      background: #D03232;
      border: 2px solid transparent;
      -webkit-transition: .5s;
      -o-transition: .5s;
      -moz-transition: .5s;
      transition: .5s; }
    #slider_header .slider .auto-play-slider.owl-carousel .item .content button.read {
      background: transparent;
      border: 2px solid rgba(255, 255, 255, 0.5);
      -webkit-transition: .5s;
      -o-transition: .5s;
      -moz-transition: .5s;
      transition: .5s; }
    #slider_header .slider .auto-play-slider.owl-carousel .item .content button.buy:hover, #slider_header .slider .auto-play-slider.owl-carousel .item .content button.read:hover {
      background: #ddd;
      color: #333;
      border: 2px solid transparent; }
    #slider_header .slider .auto-play-slider.owl-carousel .item .content a {
      text-decoration: none; }
  #slider_header .slider .auto-play-slider.owl-carousel .item .content.center .inner-content:before {
    margin-top: -50px;
    position: absolute;
    left: 50%;
    margin-left: -40px; }
  #slider_header .slider .auto-play-slider.owl-carousel .item .tleft {
    text-align: left;
    margin-top: 70px;
    margin-left: 25px; }
  #slider_header .slider .auto-play-slider.owl-carousel .item .center {
    text-align: center; }
  #slider_header .slider .auto-play-slider.owl-carousel:hover .owl-nav {
    display: block;
    opacity: 1; }

@media screen and (max-width: 425px) {
  section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content {
    margin-top: 60px !important; }
    section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content h1 {
      font-size: 18px;
      line-height: 6px; }
    section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content p {
      font-size: 9px; }
    section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content button {
      margin-top: 0px; }
    section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content.center {
      margin-top: 0px; }
      section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content.center .inner-content:before {
        margin-top: -25px; }
    section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content.tleft {
      margin-top: 20px !important; } }

@media screen and (max-width: 320px) {
  section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content.tleft {
    margin-top: 10px !important; } }

@media screen and (max-width: 768px) {
  section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content h1 {
    font-size: 37px;
    line-height: 15px; }
  section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content p {
    font-size: 13px; }
  section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content button {
    margin-top: 20px; }
  section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content.center {
    margin-top: 100px; }
    section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content.center .inner-content:before {
      margin-top: -25px; }
  section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content.tleft {
    margin-top: 30px; } }

@media screen and (max-width: 550px) {
  section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content h1 {
    font-size: 26px;
    line-height: 11px; }
  section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content p {
    font-size: 11px; }
  section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content button {
    margin-top: 0px; }
  section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content.center {
    margin-top: 100px; }
    section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content.center .inner-content:before {
      margin-top: -25px; }
  section#slider_header .slider .auto-play-slider.owl-carousel.owl-theme .item .content.tleft {
    margin-top: 60px; } }

#content {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.7;
  position: relative; }
  #content .container {
    max-width: 1170px;
    margin: 0 auto; }
  #content a {
    color: inherit;
    text-decoration: none; }
  #content .content-intro {
    color: #fff;
    width: 100%; }
    #content .content-intro__box {
      width: 33.33%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 60px; }
      #content .content-intro__box .text-box h2 {
        font-size: 26px;
        font-weight: 500;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        margin: 0px; }
      #content .content-intro__box .text-box h2.wow, #content .content-intro__box .text-box .fadeIn {
        visibility: visible;
        -webkit-animation-delay: 0.2s;
        -moz-animation-delay: 0.2s;
        -o-animation-delay: 0.2s;
        animation-delay: 0.2s;
        -webkit-animation-name: fadeIn;
        -moz-animation-name: fadeIn;
        -o-animation-name: fadeIn;
        animation-name: fadeIn; }
      #content .content-intro__box .text-box p {
        margin: 0px 0px 40px; }
      #content .content-intro__box .text-box .button-box {
        display: inline-block;
        padding: 5px 30px 5px 30px;
        border: 3px solid #ffffff80;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
        -webkit-border-radius: 5px;
        border-radius: 5px; }
        #content .content-intro__box .text-box .button-box:hover {
          color: #333;
          background: #eee;
          -webkit-transition: .5s;
          -o-transition: .5s;
          -moz-transition: .5s;
          transition: .5s; }
    #content .content-intro .grey {
      background: url("images/bg_service_1.jpg") top center #565f68;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    #content .content-intro .red {
      background: url("images/bg_service_3.jpg") top center #bf3f3f;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
    #content .content-intro .blue {
      background: url("images/bg_service_2.jpg") top center #236b94;
      -webkit-background-size: cover;
      -o-background-size: cover;
      background-size: cover; }
  #content .track-it {
    background: #1a1e20;
    padding: 60px 0px; }
    #content .track-it .container .insert-track {
      max-width: 750px;
      position: relative;
      margin-left: 195px;
      overflow: hidden; }
      #content .track-it .container .insert-track input[type=text] {
        color: #888;
        -webkit-border-radius: 10px 0 0 10px;
        border-radius: 10px 0 0 10px;
        background: #21282b;
        width: 75%;
        font-size: 20px;
        padding: 15px;
        border: none;
        outline: none; }
      #content .track-it .container .insert-track input[type=button] {
        font-size: 20px;
        padding: 15px;
        border: none;
        -webkit-border-radius: 0 10px 10px 0;
        border-radius: 0 10px 10px 0;
        background: #D03232;
        width: 25%;
        position: absolute;
        left: 75%;
        color: #fff; }
        #content .track-it .container .insert-track input[type=button]:hover {
          background: #eee;
          color: #333;
          -webkit-transition: .5s;
          -o-transition: .5s;
          -moz-transition: .5s;
          transition: .5s; }
  #content .why-choose-us {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 60px 0px; }
    #content .why-choose-us .service-title {
      max-width: 100%;
      text-align: center; }
      #content .why-choose-us .service-title h2 {
        font-size: 26px;
        text-transform: uppercase;
        color: #333;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin: 0px; }
      #content .why-choose-us .service-title p {
        margin: 0px 0px 10px;
        font-family: 'Georgia';
        font-weight: 500;
        font-size: 18px;
        color: #aaa;
        font-style: italic; }
      #content .why-choose-us .service-title .line {
        clear: both;
        width: 80px;
        height: 3px;
        background: #D03232;
        margin: 20px auto 20px auto; }
    #content .why-choose-us .service-descrip {
      max-width: 100%;
      margin-top: 10px; }
      #content .why-choose-us .service-descrip__box {
        width: 50%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 10px 15px 10px; }
        #content .why-choose-us .service-descrip__box .descrip__box--colleft {
          width: 15%;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box; }
          #content .why-choose-us .service-descrip__box .descrip__box--colleft img {
            width: 50px; }
        #content .why-choose-us .service-descrip__box .descrip__box--colright {
          width: 85%; }
          #content .why-choose-us .service-descrip__box .descrip__box--colright .box--colright-title h3 {
            font-size: 20px;
            margin: 0px 0px 10px;
            color: #333;
            line-height: 28px;
            font-weight: lighter;
            font-family: 'Montserrat', sans-serif; }
          #content .why-choose-us .service-descrip__box .descrip__box--colright .box--colright-title p {
            margin: 0px 0px 10px;
            font-family: 'Lato', sans-serif;
            color: #888;
            line-height: 1.7;
            font-size: 14px; }
  #content .service-gallery {
    background: #eee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 60px 0px; }
    #content .service-gallery__item {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0px 3px;
      width: 33.33%;
      position: relative; }
      #content .service-gallery__item a {
        font-size: 0; }
      #content .service-gallery__item:hover .gradient {
        background: #000; }
      #content .service-gallery__item:hover .gallery-text {
        margin-top: 80px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s; }
        #content .service-gallery__item:hover .gallery-text .red-line {
          width: 150px;
          -webkit-transition: .5s ease-in-out;
          -o-transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
          -webkit-transform: translateX(-25%);
          -moz-transform: translateX(-25%);
          -ms-transform: translateX(-25%);
          -o-transform: translateX(-25%);
          transform: translateX(-25%);
          margin-left: 151px; }
      #content .service-gallery__item .gallery-text {
        position: absolute;
        display: block;
        text-align: center;
        top: 0;
        z-index: 99;
        left: 0px;
        width: 100%; }
        #content .service-gallery__item .gallery-text p {
          text-transform: uppercase;
          font-weight: bold;
          color: #fff;
          padding: 5px 10px 5px 10px;
          letter-spacing: 2.5px;
          font-size: 12px;
          margin: 20px auto 0px; }
        #content .service-gallery__item .gallery-text .red-line {
          height: 2px;
          width: 50px;
          background: #D03232;
          margin: 0px auto; }
      #content .service-gallery__item .gradient {
        width: 98%;
        height: 98%;
        position: absolute;
        top: 0;
        left: 1%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0px 3px;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, transparent));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65098) 0%, transparent 100%);
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.65)), to(transparent));
        background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
        background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
        background: -o-linear-gradient(top, rgba(0, 0, 0, 0.65) 0%, transparent 100%);
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.65) 0%, transparent 100%); }
  #content .slide-content {
    background: #D03232; }
    #content .slide-content .slide-content__colleft {
      width: 50%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
      #content .slide-content .slide-content__colleft .ma5slider .navs-wrapper {
        height: 333px; }
      #content .slide-content .slide-content__colleft .outside-dots .dots > .dot {
        background: #aaa;
        opacity: 0.6;
        width: 8px;
        height: 8px;
        -webkit-border-radius: 0px;
        border-radius: 0px; }
        #content .slide-content .slide-content__colleft .outside-dots .dots > .dot:hover {
          opacity: 1; }
      #content .slide-content .slide-content__colleft .outside-dots .dots > .dot.active {
        width: 10px;
        height: 10px;
        opacity: 1; }
      #content .slide-content .slide-content__colleft .ma5slider .slide-area {
        overflow: visible; }
      #content .slide-content .slide-content__colleft .ma5slider .slides .owl-item {
        margin: 60px 89px; }
        #content .slide-content .slide-content__colleft .ma5slider .slides .owl-item .quote {
          font-size: 120px;
          color: #fff;
          line-height: 0.1em;
          font-family: 'Georgia';
          margin-top: 100px;
          text-align: left; }
        #content .slide-content .slide-content__colleft .ma5slider .slides .owl-item p {
          font-size: 18px;
          color: #fff;
          list-style: 1.5;
          font-family: 'Lato', sans-serif;
          font-style: italic;
          margin: 0px 0px 25px;
          text-align: left; }
        #content .slide-content .slide-content__colleft .ma5slider .slides .owl-item .tg {
          color: #fff;
          margin-bottom: 30px;
          font-size: 14px;
          font-style: none; }
    #content .slide-content .slide-content__colright {
      position: relative;
      width: 50%;
      height: 415px;
      overflow: hidden; }
      #content .slide-content .slide-content__colright img {
        position: absolute;
        top: -127px; }
  #content .content-logo {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 60px 0px; }
    #content .content-logo__item {
      max-width: 16.66%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0px 15px; }
      #content .content-logo__item:first-child {
        padding: 0px 15px 0px 0px; }
      #content .content-logo__item:last-child {
        padding: 0px 0px 0px 15px; }
  #content .content-question {
    max-width: 100%;
    background: url("images/bg1.jpg");
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 60px 0px; }
    #content .content-question__title {
      text-align: center; }
      #content .content-question__title h2 {
        font-size: 26px;
        text-transform: uppercase;
        color: #333;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        margin: 0px;
        color: #fff; }
      #content .content-question__title p {
        margin: 0px 0px 10px;
        font-family: 'Georgia';
        font-weight: 500;
        font-size: 18px;
        color: #aaa;
        font-style: italic; }
      #content .content-question__title .line {
        clear: both;
        width: 80px;
        height: 3px;
        background: #D03232;
        margin: 20px auto 20px auto; }
    #content .content-question__box .question-box__col50 {
      width: 50%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      color: #fff; }
      #content .content-question__box .question-box__col50:first-child {
        padding-right: 25px; }
      #content .content-question__box .question-box__col50:last-child {
        padding-left: 25px; }
      #content .content-question__box .question-box__col50 .question {
        margin-top: 7px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-left: 15px;
        border-width: 1px;
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.3);
        border-left: solid 2px #D03232;
        background: none;
        font-weight: 600;
        letter-spacing: 0.5px;
        line-height: 37px; }
        #content .content-question__box .question-box__col50 .question p {
          font-weight: 400;
          display: none;
          font-size: 13px;
          line-height: 22px;
          margin: 0px 0px 14px; }
    #content .content-question__button {
      color: #fff;
      width: 100%;
      text-align: center;
      margin-top: 40px; }
      #content .content-question__button a {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 2px;
        padding: 7px 30px;
        border: solid 3px rgba(255, 255, 255, 0.5);
        -webkit-border-radius: 5px;
        border-radius: 5px; }
        #content .content-question__button a:hover {
          background: #fff;
          color: #000;
          -webkit-transition: .5s;
          -o-transition: .5s;
          -moz-transition: .5s;
          transition: .5s; }
  #content .content-contact {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 0px;
    background: #D03232; }
    #content .content-contact p {
      color: #fff;
      margin: 0px;
      font-size: 24px;
      font-weight: 500;
      font-family: "Montserrat"; }
    #content .content-contact .contact-button a {
      display: block;
      border: solid 3px rgba(255, 255, 255, 0.5);
      color: #fff;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      border-radius: 5px;
      padding: 5px 30px 5px 30px;
      text-transform: uppercase;
      font-weight: bold;
      letter-spacing: 2px;
      margin-right: 80px; }
      #content .content-contact .contact-button a:hover {
        background: #fff;
        color: #000;
        -webkit-transition: .5s;
        -o-transition: .5s;
        -moz-transition: .5s;
        transition: .5s; }
  #content .button-scroll {
    position: fixed;
    z-index: 1555;
    right: 10px;
    bottom: 10px;
    width: 20px;
    height: 20px;
    padding: 16px;
    background: #eee;
    -webkit-border-radius: 35px;
    border-radius: 35px;
    opacity: 0.7; }
    #content .button-scroll:hover {
      opacity: 1; }

#header {
  position: absolute;
  z-index: 100;
  width: 100%;
  color: #fff;
  font-family: 'Lato', sans-serif; }
  #header .container .row .col-sm-3 {
    width: 25%;
    float: left;
    line-height: 1.7em; }
  #header .container .row .col-sm-9 {
    width: 75%;
    float: left;
    line-height: 1.7em; }
  #header .container .row .logo {
    text-align: center;
    height: 80px;
    line-height: 80px;
    vertical-align: middle; }
    #header .container .row .logo a img {
      vertical-align: middle; }
  #header .container .row nav.menu ul.list-inline {
    padding-left: 50px;
    line-height: 80px; }
    #header .container .row nav.menu ul.list-inline li {
      position: relative;
      display: inline-block;
      list-style: none; }
      #header .container .row nav.menu ul.list-inline li a {
        padding: 10px 16px 8px 16px;
        font-weight: 600;
        font-size: 13px;
        -webkit-transition: .5s;
        -o-transition: .5s;
        -moz-transition: .5s;
        transition: .5s; }
      #header .container .row nav.menu ul.list-inline li ul.menu2 {
        padding: 0;
        position: absolute;
        width: 170px;
        display: none; }
        #header .container .row nav.menu ul.list-inline li ul.menu2 li {
          width: 100%;
          display: block;
          line-height: 43px;
          background: #222;
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          -moz-transition: 0.5s;
          transition: 0.5s; }
          #header .container .row nav.menu ul.list-inline li ul.menu2 li a {
            font-size: 14px;
            letter-spacing: normal;
            font-weight: 800; }
        #header .container .row nav.menu ul.list-inline li ul.menu2 li:hover {
          background: #D03232; }
    #header .container .row nav.menu ul.list-inline li:hover ul.menu2 {
      display: block; }
    #header .container .row nav.menu ul.list-inline li:hover a.hover {
      color: #D03232; }
  #header .container .row nav.menu-icon {
    line-height: 80px;
    padding-right: 15px; }
    #header .container .row nav.menu-icon ul.list-inline li {
      display: inline-block;
      list-style: none; }
      #header .container .row nav.menu-icon ul.list-inline li a {
        color: #D03232;
        padding: 0 8px 0 8px; }

header#clone {
  display: none;
  z-index: 100;
  width: 100%;
  font-family: 'Lato', sans-serif; }
  header#clone .container .row .col-sm-3 {
    width: 25%;
    float: left;
    line-height: 1.7em; }
  header#clone .container .row .col-sm-9 {
    width: 75%;
    float: left;
    line-height: 1.7em; }
  header#clone .container .row .logo {
    text-align: center;
    height: 80px;
    line-height: 80px;
    vertical-align: middle; }
    header#clone .container .row .logo a img {
      vertical-align: middle; }
  header#clone .container .row nav.menu {
    font-size: 13px; }
    header#clone .container .row nav.menu > ul.list-inline > li > a {
      color: #555; }
    header#clone .container .row nav.menu ul.list-inline {
      line-height: 80px; }
      header#clone .container .row nav.menu ul.list-inline li {
        position: relative;
        display: inline-block;
        list-style: none; }
        header#clone .container .row nav.menu ul.list-inline li a {
          padding: 10px 16px 8px 16px;
          font-weight: 600;
          font-size: 13px;
          -webkit-transition: .5s;
          -o-transition: .5s;
          -moz-transition: .5s;
          transition: .5s; }
        header#clone .container .row nav.menu ul.list-inline li ul.menu2 {
          padding: 0;
          z-index: 120;
          position: absolute;
          width: 170px;
          display: none; }
          header#clone .container .row nav.menu ul.list-inline li ul.menu2 li {
            width: 100%;
            display: block;
            line-height: 43px;
            background: white;
            -webkit-transition: 0.5s;
            -o-transition: 0.5s;
            -moz-transition: 0.5s;
            transition: 0.5s; }
            header#clone .container .row nav.menu ul.list-inline li ul.menu2 li a {
              font-size: 14px;
              color: #555;
              letter-spacing: normal;
              font-weight: 800; }
          header#clone .container .row nav.menu ul.list-inline li ul.menu2 li:hover {
            background: #D03232; }
            header#clone .container .row nav.menu ul.list-inline li ul.menu2 li:hover a {
              color: white; }
      header#clone .container .row nav.menu ul.list-inline li:hover ul.menu2 {
        display: block; }
      header#clone .container .row nav.menu ul.list-inline li:hover a.hover {
        color: #D03232; }

@media screen and (max-width: 1199px) {
  header#header {
    display: none; }
  header#clone {
    display: block; }
    header#clone .container {
      max-width: 970px; } }

@media screen and (max-width: 992px) {
  header#clone .container {
    position: relative;
    max-width: 750px; }
    header#clone .container span#menu-bar {
      position: absolute;
      right: 1%;
      top: 28px;
      background: #D03232;
      color: white;
      padding: 8px 10px; }
    header#clone .container > .row {
      padding: 0 30px; }
      header#clone .container > .row > .col-sm-3 {
        width: 100%; }
      header#clone .container > .row > .col-sm-9 {
        width: 100%; }
        header#clone .container > .row > .col-sm-9 > nav.menu {
          margin-bottom: 15px;
          display: none;
          width: 100%;
          float: left; }
          header#clone .container > .row > .col-sm-9 > nav.menu > ul.list-inline {
            padding: 0 20px; }
            header#clone .container > .row > .col-sm-9 > nav.menu > ul.list-inline > li {
              line-height: 30px;
              border-bottom: 1px solid #eee;
              display: block; }
              header#clone .container > .row > .col-sm-9 > nav.menu > ul.list-inline > li a {
                color: #555; }
              header#clone .container > .row > .col-sm-9 > nav.menu > ul.list-inline > li:nth-child(1), header#clone .container > .row > .col-sm-9 > nav.menu > ul.list-inline > li:nth-child(2) {
                border: none; }
              header#clone .container > .row > .col-sm-9 > nav.menu > ul.list-inline > li ul.menu2 {
                width: 100%;
                display: block;
                position: relative; }
                header#clone .container > .row > .col-sm-9 > nav.menu > ul.list-inline > li ul.menu2 li {
                  padding: 0 20px;
                  border-bottom: 1px solid #eee; }
                  header#clone .container > .row > .col-sm-9 > nav.menu > ul.list-inline > li ul.menu2 li:nth-child(1) {
                    border-top: 1px solid #eee; } }

@media screen and (max-width: 425px) {
  header#clone .container .row {
    padding: 0 10px; } }

footer#footer {
  padding: 40px 0;
  background: #101314;
  color: #ccc;
  font-family: 'Lato', sans-serif;
  font-size: 14px; }
  footer#footer .container .row .col-sm-4 {
    width: 33.33%;
    float: left; }
    footer#footer .container .row .col-sm-4 .line {
      width: 40px;
      height: 3px;
      background: #D03232;
      margin: 20px 0 20px 0; }
    footer#footer .container .row .col-sm-4 > ul {
      padding-left: 0;
      list-style: none; }
      footer#footer .container .row .col-sm-4 > ul > li > a {
        text-decoration: none; }
        footer#footer .container .row .col-sm-4 > ul > li > a:hover {
          text-decoration: underline; }
      footer#footer .container .row .col-sm-4 > ul > li {
        margin: 5px 0 0 0; }
    footer#footer .container .row .col-sm-4 .content {
      margin-bottom: 20px;
      padding-right: 30px; }
      footer#footer .container .row .col-sm-4 .content p {
        margin: 10px 0; }
    footer#footer .container .row .col-sm-4 nav.social-icons ul li {
      width: 38px;
      height: 38px;
      font-size: 19px;
      background: #D03232;
      -webkit-border-radius: 100%;
      border-radius: 100%;
      margin: 20px 8px 8px 0;
      border: 2px solid transparent;
      -webkit-transition: 0.3s;
      -o-transition: 0.3s;
      -moz-transition: 0.3s;
      transition: 0.3s; }
      footer#footer .container .row .col-sm-4 nav.social-icons ul li a {
        text-align: center; }
        footer#footer .container .row .col-sm-4 nav.social-icons ul li a svg {
          padding: 10px 10px; }
      footer#footer .container .row .col-sm-4 nav.social-icons ul li:hover {
        background: #222;
        border: 2px solid #D03232; }
    footer#footer .container .row .col-sm-4 .press {
      margin-top: 10px; }
      footer#footer .container .row .col-sm-4 .press a {
        text-decoration: none;
        padding: 5px 30px 5px 30px;
        border: solid 3px rgba(255, 255, 255, 0.5);
        color: #ccc;
        text-transform: uppercase;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        -moz-transition: 0.3s;
        transition: 0.3s; }
        footer#footer .container .row .col-sm-4 .press a:hover {
          background: #eee;
          color: #222; }
  footer#footer .container .row .text-center {
    text-align: center; }

@media screen and (max-width: 992px) {
  footer#footer {
    padding-left: 20px;
    padding-right: 20px; }
    footer#footer .container {
      max-width: 750px;
      margin: 0 auto;
      padding: 0 20px; }
      footer#footer .container .row .col-sm-4 {
        width: 100%; } }
