@charset "UTF-8";
/*	FONTS
------------------------*/
/*	TYPOGRAPHY
–––––––––––––––––––––––––––*/
html, body {
  margin: 0px;
  padding: 0px; }

.list-inline {
  margin: 0px;
  padding: 0px;
  list-style: none; }

.list-inline li {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  vertical-align: middle; }
  .list-inline li a {
    text-decoration: none; }

a {
  color: inherit; }

img {
  max-width: 100%;
  width: 100%;
  border: none; }

.container {
  margin: 0px auto;
  max-width: 1170px; }

.fleft, .float-left {
  float: left; }

.fright, .float-right {
  float: right; }

.clear-fix, .clearfix {
  clear: both; }

/* ------ Normalize ----- */
p {
  font-size: 30px;
  color: red; }

h1 {
  color: red; }

p {
  color: red; }
