section#about{
    p{
        font-family:"Nunitosans Regular";
    }
    h1,h2,h3,h4,h5{
        font-family: "Montserrat Medium";
    }
    .banner{
        position: relative;
        .img_background{
            position: absolute;
            top: 0;
            left: 0;
            right: 0 ;
            bottom: 0;
            background-position: center;
            background-repeat: no-repeat;
            background-size: 100%;
            background-image: url("images/home.jpg");
        }
        .container{
            .row{
                .banner__content{
                    margin-top: 242px;
                    margin-bottom: 200px;
                    h1{
                        margin-bottom: 45px;
                    }
                    p{
                        margin-bottom: 45px;
                    }
                }
                a.contact{
                    padding: 25px 45px;
                    letter-spacing: 3px;
                    background:#39b4af;
                    text-transform: uppercase;
                    font-size: 12px;
                    color:#ffffff;
                    &:hover{
                        text-decoration: none;
                    }
                }
            }
        }

    }
    .about_us{
        padding-bottom: 100px;
        .row{
            .about_content{
                margin-top: 100px;
                width: 100%;
                p{
                    margin-bottom: 10px;
                }
                h3{
                    margin-bottom: 40px;
                }
            }
        }
        .row{
            margin-top: 35px;
            .about_Signature{
                display: block;
                margin: 0 auto;
            }
        }
    }
    .skill{
        
        .container-fluid{
            background-color: #f3f3f3;
            .row{

                .skill_img_background{
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0 ;
                    bottom: 0;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: 100%;
                    background-image: url("images/services-4.jpg");
                }
                position: relative;
                .skill_left{
                    margin-bottom: 165-72px;
                    margin-top: 155-72px;
                    padding: 72px;
                    h1{
                        font-size: 30px;
                    }
                    h3{
                        margin-top: 40px;

                        text-transform: uppercase;
                        font-size: 12px;
                    }
                    .rectangle{
                        margin-top: 23px;
                        width: 100%;
                        height: 3px;
                        background: #d8d8d8;
                        position: relative;
                        .rectangle_1{
                            width: 70%;
                            height: 100%;
                            position: absolute;
                            background: #10c9c3;
                        }

                        .rectangle_2{
                            width: 90%;
                            height: 100%;
                            position: absolute;
                            background: #10c9c3;
                        }

                        .rectangle_3{
                            width: 65%;
                            height: 100%;
                            position: absolute;
                            background: #10c9c3;
                        }

                    }
                }
            }
        }
    }
    .statistical{
        background-color: #10c9c3;
        color: #ffffff;
        padding: 100px 0;
        .container{
            .row{
                h4,h5{
                    text-transform: uppercase;
                }
                & > .col-sm-3{
                    & > .row{
                        .col-sm-3{
                            .img_icon{
                                margin: auto;                            }
                        }
                        .col-sm-9{
                            h4{
                                font-size: 18px;

                            }
                            h5{
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
        }
    }
    .columns{
        //.container-fluid{
            /*.row{
                .col-sm-3{
                    padding: 0;
                }
                .columns_img{
                    position: relative;
                    padding-bottom: 100%;

                    .background_img{
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        &.img1{
                            background-image: url("images/portfolio-1-sm.jpg");
                        }
                        &.img2{
                            background-image: url("images/portfolio-2-sm.jpg");
                        }
                        &.img3{
                            background-image: url("images/portfolio-3-sm.jpg");
                        }
                        &.img4{
                            background-image: url("images/portfolio-10-sm.jpg");
                        }
                        &.img5{
                            background-image: url("images/portfolio-5-sm.jpg");
                        }
                        &.img6{
                            background-image: url("images/portfolio-6-sm.jpg");
                        }
                        &.img7{
                            background-image: url("images/portfolio-7-sm.jpg");
                        }
                        &.img8{
                            background-image: url("images/portfolio-9-sm.jpg");
                        }
                    }
                }
            }*/
            /*.grid{
                .grid-item{
                    width: 25%;
                    float: left;
                    height: 337px;
                    position: relative;
                    .columns_img{
                        .background_img{
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-position: center;
                            background-repeat: no-repeat;
                            background-size: cover;
                            &.img1{
                                background-image: url("images/portfolio-1-sm.jpg");
                            }
                            &.img2{
                                background-image: url("images/portfolio-2-sm.jpg");
                            }
                            &.img3{
                                background-image: url("images/portfolio-3-sm.jpg");
                            }
                            &.img4{
                                background-image: url("images/portfolio-10-sm.jpg");
                            }
                            &.img5{
                                background-image: url("images/portfolio-5-sm.jpg");
                            }
                            &.img6{
                                background-image: url("images/portfolio-6-sm.jpg");
                            }
                            &.img7{
                                background-image: url("images/portfolio-7-sm.jpg");
                            }
                            &.img8{
                                background-image: url("images/portfolio-9-sm.jpg");
                            }
                        }
                    }
                }
                .grid-item--height2{
                    height: 448px;
                }
            }*/
            .grid {
              background: #EEE;
            }

            /* clearfix */
            .grid:after {
              content: '';
              display: block;
              clear: both;
            }

            /* ---- grid-item ---- */

            .grid-sizer,
            .grid-item {
              width: 25%;
            }

            .grid-item {
              height: 120px;
              float: left;
              background: #D26;
              border: 2px solid #333;
              border-color: hsla(0, 0%, 0%, 0.5);
              border-radius: 5px;
            }
            .grid-item--height2 { height: 200px; }
        //}
    }
}