extends _layouts/layout

block content
    section#about
        .banner
            .img_background
            .container
                .row
                    .banner__content.offset-md-7.col-sm-5
                        h1 We Design and Develop
                        p We are a new design studio based in USA. We have over 20 years of combined experience, and know a thing or two about designing websites and mobile apps.
                        a(href="#").contact Contact Us
        .about_us.container
            .row.text-center
                .about_content
                    h3.about_title About Us
                    p.content Divide have don't man wherein air fourth. Own itself make have night won't make. 
                    p A you under Seed appear which good give. Own give air without fowl moveth dry first 
                    p heaven fruit, dominion she'd won't very all.
            .row    
                .about_Signature
                    img(src="images/images/Signature.png", alt="")
                .clear-fix
        .skill
            .container-fluid
                .row
                    .col-sm-6
                        .skill_left
                            h1 Professional Skills
                            h3 UI/UX Design 
                                span 75%
                            .rectangle
                                .rectangle_1
                            h3 web deverlopment
                                span 90%
                            .rectangle
                                .rectangle_2
                            h3 Marketing
                                span 65%
                            .rectangle
                                .rectangle_3
                    .col-sm-6
                        .skill_img_background
        .statistical
            .container
                .row
                    .col-sm-3
                        .row
                            .col-sm-3
                                .img_icon
                                    img(src="images/pe-7s-portfolio.png", alt="")
                            .col-sm-9
                                h4 548
                                h5 project completer

                    .col-sm-3
                        .row
                            .col-sm-3
                                .img_icon
                                    img(src="images/pe-7s-clock.png", alt="")
                            .col-sm-9
                                h4 1645
                                h5 Working houres
                    .col-sm-3
                        .row
                            .col-sm-3
                                .img_icon
                                    img(src="images/pe-7s-star.png", alt="")
                            .col-sm-9
                                h4 612
                                h5 Postivite feedbacks
                    .col-sm-3
                        .row
                            .col-sm-3
                                .img_icon
                                    img(src="images/pe-7s-like.png", alt="")
                            .col-sm-9
                                h4 735
                                h5 Happy clients