/*	FONTS
------------------------*/


/*	TYPOGRAPHY
–––––––––––––––––––––––––––*/

html, body{
  margin: 0px;
  padding: 0px;
}

.list-inline{
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.list-inline li{
    @include dis(middle);
    a{
      text-decoration: none;
    }
}

a{
  color: inherit;
}

img{
  max-width: 100%;
  width: 100%;
  border: none;
}

.container{
  margin: 0px auto;
  max-width: 1170px;
}

.fleft ,.float-left {
  float: left;
}
.fright, .float-right{
  float: right;
}

.clear-fix, .clearfix{
  clear: both;
}



/* ------ Normalize ----- */